*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    background-color: white;
    width: 100%;
    height: 90px;
    position:fixed;
    z-index: 3;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img{
  width: 70px;
  border-radius: 50%;
  position: relative;
  top: 8px;
  }
  
  .div-links{
    position: relative;
    top: 8px;
  }
  
  .itens-links{
    list-style: none;
    display: flex;
  }
  
  .itens-links li {
   padding-left: 30px;
  }
  
  .itens-links li:hover{
    font-size: 15px;
    color: rgba(29, 116, 27, 1);
  }
  
  .btn-assistir{
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: white;
    background-color:rgba(29, 116, 27, 1) ;
    width: 150px;
    display: inline;
    position: relative;
    top: 8px;
    margin-right: 20px;
  }
  
  .btn-assistir:hover{
    background-color: rgb(90, 170, 89);
  }
  
  .banner {
    position: relative;
    width: 1326;
    height: 900px;
    overflow: hidden; /
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('file:///C:/Users/USER/OneDrive/%C3%81rea%20de%20Trabalho/Irrigador%20Inteligente/imagemdefundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px); 
    z-index: -1; 
  }
  
  .imagem-pricipal {
    position: absolute; /* Sobrepõe a imagem */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 850px; 
    height: auto; 
  }
  
  .titulo-banner{
    position: relative;
    z-index: 2; /* Texto acima de tudo */
    color: white;
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    margin-top:100px
  }
  
  .revolucionar{
    color: #FBFF17;
  }
  
  .funcionalidades {
    text-align: center;
    padding: 100px;
    background-color: rgb(245, 244, 210);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    max-width: 800px;
    position: relative;
    z-index: 2;
    margin-bottom: 120px;
  }
  
  .info-box {
    background: rgb(21, 226, 56);
    width: 260px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
  }
  
  .info-box h2 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }
  
  .info-box p {
    font-size: 14px;
    color: white;
  }
  
  .imagem_prototipo {
    position: absolute;
    display: flex;
    left: calc(50% + 200px);
    justify-content: center;
    z-index: 1;
    transform: translate(0, -12%);
  }
  
  .imagem_prototipo img {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: -120px;
    transform: scaleX(-1);
  }

  .recysprout{
    padding: 100px;
    text-align: center;
    margin-bottom: 100px;
  }

  .recysprout h1{
    margin-bottom: 60px;
  }

  .conteudoMembros {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .membros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .membro{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
  }

  .membro img {
    width: 100px;
    height: 100px; 
    object-fit: cover; /* Ajuste de imagem dentro do espaço */
    border-radius: 50%; 
  }
