*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    background-color: white;
    width: 100%;
    height: 90px;
    position:fixed;
    z-index: 3;
  }

  div .imagem-pricipal {
    width: 100%; /* Largura personalizada */
    height: 100%; /* Altura proporcional */
    border-radius: 0%; /* Bordas arredondadas */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  nav{
    font-size: 20px;
    display: flex;
    justify-content: space-between ;
    margin-inline: 80px;
    align-items: center;
  
  }
  
  .logo img{
  width: 90px;
  border-radius: 50%;
  position: relative;
  
  }
  
  .div-links{
    position: relative;
    justify-content: space-between;
    top: 10px;
  }
  
  .itens-links{
    list-style: none;
    display: flex;
  }

  .itens-links a {
    text-decoration: none;
    color: inherit;
  }
  
  .itens-links li {
  padding-left: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  }
  
  .itens-links li:hover{
    font-size: 23px;
    font-style: italic;
    color: rgba(29, 116, 27, 1);
    transform: translateY(-5px) scale(1.1);
    transform: translateY(-5px) rotate(-2deg);
  }
  
  .btn-assistir{
    height: 35px;
    width: 30px;
    border-radius: 20px;
    color: white;
    background-color: white;
    background-color:rgba(29, 116, 27, 1) ;
    width: 150px;
    display: inline;
    position: relative;
    top: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
    transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  }
  
  .btn-assistir:hover{
    background-color: rgb(90, 170, 89);
    transform: translateY(-5px) scale(1.1);
    transform: translateY(-5px) rotate(-2deg);
  }
  
  .banner {
    position: relative;
    width: 1326;
    height: 900px;
    overflow: hidden; /
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('file:///C:/Users/USER/OneDrive/%C3%81rea%20de%20Trabalho/Irrigador%20Inteligente/imagemdefundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px); 
    z-index: -1; 
  }
  
  .imagem-pricipal {
    position: absolute; /* Sobrepõe a imagem */
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
    width: 850px; 
    height: auto; 
  }
  
  .titulo-banner{
    position: relative;
    z-index: 2; /* Texto acima de tudo */
    color: white;
    font-size: 4rem;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top:100px
    
  }
  /* animacao */
  @keyframes brilho {
    0% {
      text-shadow: 0 0 5px #ffcb0d, 0 0 10px rgb(255, 255, 56), 0 0 20px rgb(247, 139, 31), 0 0 40px rgb(255, 91, 91);
    }
    50% {
      text-shadow: 0 0 10px rgb(255, 242, 67), 0 0 20px rgb(216, 251, 135), 0 0 40px rgb(140, 255, 0), 0 0 80px rgb(255, 156, 58);
    }
    100% {
      text-shadow: 0 0 5px rgb(33, 244, 5), 0 0 10px rgb(255, 165, 62), 0 0 20px rgb(255, 141, 104), 0 0 40px rgb(255, 168, 18);
    }
  }

  .revolucionar {
    color: #FBFF17;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    animation: brilho 2s infinite alternate; 
    }

  .solucao h1 {
    transform: translateY(35px);
  }

  .retangulos {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 20px;
    text-align: center;
  }
  
  .retangulo {
    position: absolute;
    background: linear-gradient(#5E9849, #5E9849);
    border-radius: 10px;
    width: 440px;
    height: 200px;
  }
  
  .retangulo1 {
    top: 90px;
    left: 340px;
  }
  
  .retangulo2 {
    top: 330px;
    left: 140px;
  }
  
  .retangulo3 {
    top: 570px;
    left: 290px;
  }  
  
  .funcionalidades {
    font-size: 30px;
    text-align: center;
    padding: 100px;
    background-color: rgb(176, 191, 61);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .grade {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    max-width: 900px;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin-bottom: 120px;
  }
  
  .info-box {
    background: rgb(58, 149, 73);
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
  }

  .info-box img {
    width: 30px;
    height: 30px;
    float: right;
  }
  
  .info-box h2 {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
  }
  
  .info-box p {
    font-size: 14px;
    color: white;
  }
  
  .imagem_prototipo {
    position: absolute;
    display: flex;
    left: calc(50% + 200px);
    justify-content: center;
    z-index: 1;
    transform: translate(0, -12%);
  }
  
  .imagem_prototipo img {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: -120px;
    transform: scaleX(-1);
  }

  .modeloNegocios {
    padding: 200px;
    text-align: center;
  }

  .conteudoPlanos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .planos {
    display: grid;
    grid-template-columns: (3, 1fr);
    gap: 20px;
  }

  .plano{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
  }

  .recysprout{
    padding: 100px;
    text-align: center;
    margin-bottom: 100px;
  }

  .recysprout h1{
    margin-bottom: 60px;
  }

  .conteudoMembros {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .membros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .membro{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
  }

  .membro img {
    width: 100px;
    height: 100px; 
    object-fit: cover; /* Ajuste de imagem dentro do espaço */
    border-radius: 50%; 
  }
