@media (max-width: 1440px) {
  header {
    height: 80px; 
    align-items: center;
    justify-content: space-between;
  }

  nav {
    font-size: 12px;
    margin-inline: 50px;
    justify-content: center;
  }

  .logo img {
    width: 60px; 
  }

  .div-links {
    top: 8px; /* Ajuste da posição */
  }

  .itens-links li {
    padding:  0;
    margin: 0;
  }

  .btn-assistir {
    display: none !important;
    visibility: hidden !important;
  }

  .banner {
    width: 100%; /* Ajuste do tamanho da banner */
    height: 500px; /* Ajuste da altura */
  }

  .imagem-principal {
    width: 80%; /* Ajuste da imagem */
    height: auto;
  }

  .titulo-banner {
    font-size: 2.5rem; /* Ajuste do tamanho da fonte do título */
    margin-top: 50px; /* Ajuste da margem */
  }
}
