@media (max-width: 1100px) {
  header {
    height: 80px; 
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  nav {
    font-size: 12px;
    flex-grow: 1;
    margin-inline: 50px;
    justify-content: center;
  }

  .logo img {
    width: 60px; 
  }

  .div-links {
    display: flex;
    align-items: center; /* Alinha os links ao centro verticalmente */
    justify-content: center;
  }

  .itens-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
  }

  .itens-links li {
    list-style: none;
    margin: 0;
  }

  .btn-assistir {
    display: none !important;
    visibility: hidden !important;
  }

  .banner {
    width: 100%; /* Ajuste do tamanho da banner */
    height: 500px; /* Ajuste da altura */
  }

  .imagem-principal {
    width: 80%; 
    height: auto;
  }

  .titulo-banner {
    font-size: 2.3rem; /* Ajuste do tamanho da fonte do título */
    margin-top: 50px; 
  }

  .solucao {
    width: 100%;
    height: 710px; 
    padding: 20px;
    text-align: center;
    background-color: rgb(245, 244, 210);
    background-image: 
      radial-gradient(circle, #f1ab28 10%, transparent 10%), 
      radial-gradient(circle, #f1ab28 10%, transparent 10%);
    background-size: 1200px 1200px, 700px 700px; 
    background-repeat: no-repeat; 
    background-position: right -580px top -530px, left -320px top -330px;
    position: relative;
  }

  .solucao h2 {
    font-size: 28px;
    font-weight: 800;
    color: #696f00;
    transform: translateY(35px);
  }

  .retangulos {
    position: relative;
    width: 100%;
    height: 600px;
    padding: 20px;
    text-align: center;
  }

  .retangulo {
    position: absolute;
    background: linear-gradient(#5E9849, #5E9849);
    border-radius: 10px;
    width: 230px;
    height: 100px;
    z-index: 2;
  }

  .retangulo1 {
    top: 170px;
    left: 180px;
  }

  .retangulo2 {
    top: 300px;
    left: 120px;
  }

  .retangulo3 {
    top: 430px;
    left: 200px;
  }

  .solucao img {
    position: relative;
    width: 420px;
    height: 350px;
    margin-left: -740px;
    margin-top: 310px;
    z-index: 1;
  }

  .analises {
    padding: 50px; /* Reduz o padding */
    height: 700px; /* Reduz a altura */
  }

  .analises h2 {
    font-size: 32px; /* Reduz o tamanho da fonte */
  }

  .analises .imagemSolucao {
    object-fit: cover; /* Permanece */
  }

  .analises .circulos {
    top: 45%;
  }

  .circulo1, .circulo2, .circulo3 {
    width: 90px; 
    height: 90px;
  }

  .circulo1 {
    top: -150px; 
    left: -210px; /* Aproxima os círculos horizontalmente */
  }

  .circulo2 {
    top: -10px;
    left: -400px;
  }

  .circulo3 {
    top: 120px;
    left: -400px;
  }

  .analises .quadros {
    top: 50%; /* Mantém alinhado ao centro */
  }

  .quadro1, .quadro2, .quadro3 {
    width: 200px; 
    height: 80px; 
  }

  .quadro1 {
    top: -150px; /* Ajusta posição */
    left: -200px; /* Aproxima os quadros horizontalmente */
  }

  .quadro2 {
    top: -10px;
    left: -380px;
  }

  .quadro3 {
    top: 130px;
    left: -380px;
  }
  
}
